services:
  db:
    image: postgres:15.3
    container_name: assignment_test_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: assignment_test_db
